.toast {
    position: fixed;
    top: 120px;
    right: 0;
    left: 0;
    z-index: 2000;
    display: none;
}

/*.toast .toast-wrapper {*/
    /*min-width: 200px;*/
    /*max-width: 640px;*/
    /*margin: 20px auto*/
/*}*/

.toast .toast-wrapper .toast-alert {
    text-align: center;
}

.toast .toast-wrapper .toast-alert .toast-body {
    background-color: #424242;
    color: white;
    padding: 14px 20px;
    -webkit-box-shadow: 2px 2px 6px #888888;
    -moz-box-shadow: 2px 2px 6px #888888;
    box-shadow: 2px 2px 6px #888888;
    display: inline-block;
    border-radius: 6px;
    min-width: 160px;
}

.toast.fixed-toast {
    top: 120px;
    right: 10px;
    left: auto;
    z-index: 999;
}

.toast.fixed-toast .toast-wrapper {
    min-width: 320px;
    max-width: 480px;
    margin: 0;
}

.toast.fixed-toast .toast-wrapper .toast-alert {
    text-align: left;
}

.toast.fixed-toast .toast-wrapper .toast-alert .toast-body {
    min-width: 320px;
    width: 100%;
}

.toast.fixed-toast .close{
    color: #fff;
    opacity: .5;
}

.toast.fixed-toast .maximize{
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1.5;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .5;
    font-family: initial; font-size: 13px;
}

/* maxInfluenceTable Toast */

.toast2 {
    position: fixed;
    bottom: 0px;
    right: 0;
    left: 0;
    z-index: 999;
    display: none;
}

.toast2 .toast-wrapper {
    min-width: 200px;
    max-width: 640px;
    margin: 20px auto
}

.toast2 .toast-wrapper .toast-alert {
    text-align: center;
}

.toast2 .toast-wrapper .toast-alert .toast-body {
    background-color: white;
    padding: 14px 20px;
    -webkit-box-shadow: 2px 2px 6px #888888;
    -moz-box-shadow: 2px 2px 6px #888888;
    box-shadow: 4px 4px 26px #888888;
    display: inline-block;
    border-radius: 6px;
    min-width: 160px;
}

.toast2 .fixed-toast {
    bottom: 120px;
    right: 10px;
    left: auto;
    z-index: 999;
}

.toast2 .fixed-toast .toast-wrapper {
    min-width: 320px;
    max-width: 1000px;
    margin: 0;
}

.toast2 .fixed-toast .toast-wrapper .toast-alert {
    text-align: left;
}

.toast2 .fixed-toast .toast-wrapper .toast-alert .toast-body {
    min-width: 320px;
    width: 100%;
}

.toast2.fixed-toast .close {
    color: #607d8b;
    opacity: .5;
}

.toast2 .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #ccc;
}

/* help toast */

.toast.fixed-toast2 {
    top : 100px;
    left: 255px;
    right: auto;
    z-index: 999;
}

.toast.fixed-toast2 .toast-wrapper {
    width : 320px;
    margin: 0;
}

.toast.fixed-toast2 .toast-wrapper .toast-alert {
    text-align: left;
}

.toast.fixed-toast2 .toast-wrapper .toast-alert .toast-body {
    min-width: 320px;
    width: 100%;
}

.toast.fixed-toast2 .close{
    color: #fff;
    opacity: .5;
}